.lsContainer{
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.lsTitle{
    font-size: 20px;
    color: rgb(59, 59, 59);
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem label{
    font-size: 12px;
}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}
.lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

.lsOptionInput{
    width: 60px;
    padding: 0px 3px;
}

.lsBtn{
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #254bddff;
    border-radius: 5px;
    cursor: pointer;
}