.search {
    color: black;
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchWrapper {
    display: flex;
    /* border: 1px solid green; */
    width: 100%;
    max-width: 1024px;
    background-color: #ffb700;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
}

.searchItems {
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.searchHotelsInput {
    outline: none;
    border: none;
    width: 100%;
}

.searchBtn {
    background-color: #006ce4;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.searchWrapper {
    box-shadow: 0px 0px 10px 0px #191919;
}

.reactDateRange,
.optionsList {
    cursor: pointer;
}

.reactDateRange {
    position: relative;
}

.dateRange {
    position: absolute;
    top: 50px;
}

.checkInDateInput {
    color: gray;
}

.personSearch {
    color: gray;
}

.optionsList {
    position: relative;
}

.optionsBox {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 14px -4px rgba(46,46,46,1);
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.optionCounterMinus,
.optionCounterPlus {
    padding: 5px 10px;
    background-color: #006ce4;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.optionCounterMinus:disabled{
    cursor: not-allowed;
}